:root {
	--color-primary-text: #f0f0f4;
	--color-primary-text-muted: hsl(240, 15%, 82%);
	--color-1: #f72585;
	--color-2: #8439f6;
	--color-3: #3a0ca3;
	--color-4: #4361ee;
	--color-5: #00ffff;
}

html,
body {
	height: 100vh;
	width: 100vw;
	margin: 0;
}

a {
	text-decoration: underline;
	color: inherit;
}

#container {
	background: linear-gradient(var(--color-3) 0%, var(--color-3) 30%, var(--color-4) 100%);
	font-family: "Work Sans";
	display: flex;
	flex-direction: column;
	min-height: 100%;
	min-width: 100%;
}

#container #wrapper {
	display: contents;
}

#header-row {
	background-color: var(--color-5);
	text-align: center;
	padding: 1.25rem 0;
}

#main-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex: 1 1 auto;
	padding: 4rem 2rem;
}

#title-row {
	text-align: center;
}

#instructions-row {
	display: flex;
	justify-content: center;
	margin: 2rem 0 3.5rem 0; 
}

#instructions-title {
	color: var(--color-5);
	display: inline;
	font-size: clamp(1.25rem, 5vw, 1.75rem);
}

.instructions-number {
	color: var(--color-5);
	font-size: 1.75rem;
	text-align: center;
	padding-right: 1.25rem;
}

.instructions-text {
	color: var(--color-primary-text);
	font-size: 1.1rem;
	padding: 0.75rem 0;
}

#door-row {
	display: flex;
	flex-wrap: nowrap;
	text-align: center;
	margin: 3.5rem 0;
}

.door-frame {
	cursor: pointer;
	width: clamp(100px, 25vw, 250px);
	margin: 0 0.5rem;
	text-align: center;
}

.door-frame:hover {
	outline: 2px solid var(--color-2);
	outline-offset: 4px;
}

#start {
	background-color: var(--color-5);
	color: var(--color-3);
	font-size: clamp(1rem, 5vw, 1.25rem);
	text-align: center;
	width: fit-content;
	border: none;
	border-radius: 0.5rem;
	padding: 1rem 1.5rem;
	margin: 3.5rem auto;
	cursor: pointer;
}

#start:hover {
	outline-style: solid;
	outline-color: var(--color-5);
	outline-offset: 0.2rem;
	outline-width: 0.2rem;
}

#score-row {
	color: var(--color-primary-text);
	text-align: center;
	display: flex;
	justify-content: center;
	margin-top: 2.5rem;
	width: 100%;
	max-width: 1024px;
}

#score-row div {
	background-color: #3a0ca335;
	margin: 0 2.5rem;
	padding: 1.5rem;
	border-radius: 0.5rem;
	text-wrap: nowrap;
	flex: 1 1;
}

#score-row p.score-total {
	font-size: 1.75rem;
	color: var(--color-5);
}

#footer-row {
	color: var(--color-primary-text-muted);
	background-color: var(--color-4);
	padding: 1.75rem;
}

/* Tablet+ Resolution */
@media (min-width: 768px) {
	#instructions-title {
		font-size: clamp(1.25rem, 5vw, 1.5rem);
	}

	.instructions-number {
		font-size: 1.5rem;
	}

	.instructions-text {
		font-size: 1rem;
	}

	#door-row {
		margin: 0;
	}


	.door-frame {
		width: clamp(100px, 22.5vw, 225px);
	}
	
	#start {
		font-size: 1rem;
		margin: 2.5rem;
	}
	
	#start:hover {
		outline-style: solid;
		outline-color: var(--color-5);
		outline-offset: 0.2rem;
		outline-width: 0.2rem;
	}
	
	#score-row {
		margin: 0;
	}
	
	#score-row div {
		max-width: 225px;
	}
	
	#score-row p.score-total {
		font-size: 1.5rem;
	}
}
